@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Quattrocento&display=swap');

html {
  font-size: 16px;
}
[alt="pumpkinpie2"]{
  display:none;
}

body{
  background-image: url("../img/background.jpg");
  font-family: 'Quattrocento', serif;
  color: #222;
  font-size: 1rem;
}
main{
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr;
  grid-gap: 1rem;
}

div {
  background-color: white;
  margin: 0 auto;
  max-width: 50rem;
  /* border: 2px orange solid; */

}

a {
  color: rgb(245, 106, 32);
  padding: 0.1rem 0;
}

a:hover {
  color: #fff;
  background-color: rgb(253, 189, 129);
}


h1, h2 {
  font-family: 'Noto Serif', serif;
  font-weight: 800;
}

/* h1{
  text-align: center;
} */

h2::first-letter{
  font-size: 1.5rem;
}


img {
  border: 2px solid rgb(253, 189, 129);

  /* box-shadow: 0.1rem 0.1rem 0.25rem rgb(253, 189, 129); */
  /* width: 100%; */

}


section:first-child {
  grid-column: 2;
  margin-top: 2.5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

section:nth-child(2) {
  grid-row: 1 ;
  margin: 1.25rem 0 0 3rem;

}

section:last-child {
  grid-column:  1/ span 2;
  margin-left: 3rem;
  margin-top: .5rem;
  margin-right: .5rem;
}

section:last-child li {
  line-height: 1.5;
}



ul > li {
    line-height: 1.5
}

h1 {
  font-size: 3rem;
  margin-left: 1.5rem;
}

header{
    background-color: rgb(253, 189, 129);
}


section:first-child p{
  margin: 0;
}

p > strong {
  font-family: 'Noto Serif', serif;
}

main p:last-child em {
  display: block;
  margin-right: 1.5rem;
  text-align: right;
  font-size: 0.75rem;
}

footer{
  margin-top: 1.5rem;
  text-align: right;
  font-size: 0.875rem;
}
footer:last-child em {
  display:inline;
}

footer  p:first-child {
  margin: 1rem 0.5rem 0.5rem 1.5rem;
  display:inline;
}

footer p:first-child:before {
  content: "Source: ";
  font-style: italic;
}


@media(max-width:770px){

  [alt="pumpkinpie1"]{
    display:none;
  }
  [alt="pumpkinpie2"]{
    display: block;
  }

  header{
    background-color: rgb(245, 106, 32);
  }

  main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 1rem;
  }

  section:first-child {
    grid-column: 2;
    margin-right: .25rem;

  }
  section:nth-child(2){
    margin-left: 1.5rem;
  }

  section:last-child{
    margin-left: 1.5rem;
    max-width: 42rem;
  }
  section:last-child p{
    margin-left: 1.5rem;
  }

  body{
    background-image: none;
    background-color: rgb(253, 189, 129);

  }

 div{
   margin: 0 auto;
   background-color: white;
   /* border: rgb(245, 106, 32) 3px solid; */
 }
}



@media(max-width: 400px){

  [alt="pumpkinpie1"]{
    display:none;
  }

  [alt="pumpkinpie2"]{
    margin: 0 auto;
    width:100%;
  }

  main {
    margin: 0 auto;
    display: grid;
    grid-template-columns:1fr;
  }


  section:first-child{
    grid-column: 1;
    grid-row:1;
    margin-left: 0;
    margin-top: 0;
  }

  section:nth-child(2){
    grid-column: 1;
    grid-row: 2;
    margin: 0 auto;
    margin-left: .5rem;
  }

  section:last-child{
    grid-column: 1;
    margin:0 .25rem 0 .5rem;
  }
  body{
    background-image:none;
    background-color: white;
  }

  div{
    background-color: rgb(250, 240, 190);
  }

}

@media print {
  [alt="pumpkinpie1"]{
    display:none;
  }
  [alt="pumpkinpie2"]{
    display: block;
    filter: grayscale();
    max-width: 360px;
  }

  header{
    background-color: rgb(245, 106, 32);
  }

  h1{
    font-size:2rem;
  }

  main {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr;
    grid-gap: 1rem;
  }

  section:first-child {
    grid-column: 1;
    grid-row: 1/ span 2;
    margin-top: 2.2rem;
    margin-right: .25rem;

  }
  section:nth-child(2){
    margin-left: 0;
    grid-column: 2;
    grid-row: 1;
  }

  section:last-child{
    margin-top: 0;
    margin-left: 0;
    grid-column: 2;
    grid-row: 2;
  }


  body{
    font-size: .7rem;
    background-image: none;
    background-color: rgb(253, 189, 129);
  }

 div{
   margin: 0 auto;
   background-color: white;
  }

  footer{
    font-size: .55rem;
    margin-top: .2rem;
  }
  [href="https://catalog.hathitrust.org/Record/102384364"]::after{
    content: " (https://catalog.hathitrust.org/Record/102384364)";
  }

  main p:last-child em {
    font-size: 0.55rem;
  }


}
